---
# tasks file for buildbot

# This will generate passwords for these accounts.
- assert:
    that:
    - buildbot_admin_password is defined

- name: Create buildbot data volume
  docker_volume:
    name: '{{ data_volume }}'

- name: Populate config files
  copy:
    src: "{{ item }}"
    dest: "{{ config_hostdir }}/{{ item }}"
    group: '{{ buildbot_uid }}'
    owner: '{{ buildbot_uid }}'
  loop:
    - master.cfg
    - openembedded.py
    - ptxdist.py

- name: Populate config templates
  template:
    src: "{{ item }}.j2"
    dest: "{{ config_hostdir }}/{{ item }}"
    group: '{{ buildbot_uid }}'
    owner: '{{ buildbot_uid }}'
  loop:
    - buildbot.tac

- name: Checkout image repo
  git:
    repo: '{{ image_repo }}'
    version: master
    dest: '{{ image_dir }}'

- name: Create buildbot master image
  docker_image:
    name: '{{ image_name }}'
    tag: '{{ docker_image_tag }}'
    path: '{{ image_dir }}'
    buildargs: '{{ image_args }}'
    force: true

- name: Start buildbot container
  docker_container:
    name: '{{ container_name }}'
    hostname: '{{ container_hostname }}'
    image: '{{ image_name }}:{{ docker_image_tag }}'
    networks: '{{ container_networks }}'
    volumes: '{{ container_volumes }}'
    env: '{{ container_env }}'
    ports: '{{ container_port_args }}'
    state: started

- name: Add buildbot_master host
  add_host:
    name: '{{ container_hostname }}'
    pubkey: "{{ output.stdout }}"
    ip_addr: "{{ buildbot_ip_addr }}"
