---
# file: roles/docker-mediawiki/tasks/main.yaml

- assert:
    that:
    - wiki_db_root_password is defined
    - wiki_db_password is defined

# *****************************************************************************
# Setup the directory where the backup and restore is to take place

- name: restore dir (wiki)
  file:
    state: directory
    path: '{{ wiki_docker_restore_dir }}'
    owner: root
    group: tape
    mode: 'u=rwx,g=rwx,o=rx'
    recurse: no
    setype: svirt_sandbox_file_t

- name: docker_container.conf dir (wiki)
  file:
    state: directory
    path: '{{ docker_restore_config_base_dir }}/{{ wiki_dv_name }}'
    owner: root
    group: root
    mode: 'u=rwx,g=rx,o=rx'
    recurse: no

- name: docker_container.conf dir (mysql)
  file:
    state: directory
    path: '{{ docker_restore_config_base_dir }}/{{ wiki_db_dv_name }}'
    owner: root
    group: root
    mode: 'u=rwx,g=rx,o=rx'
    recurse: no

# *****************************************************************************
# backup script part

- name: Assemble dir for backup scripts
  file:
    path: /usr/libexec/bacula/backup-scripts
    state: directory

- name: before_backup script part
  template:
    src: before_backup.j2
    dest: /usr/libexec/bacula/backup-scripts/55.before_backup.wiki

- name: after_backup script part
  template:
    src: after_backup.j2
    dest: /usr/libexec/bacula/backup-scripts/55.after_backup.wiki

# *****************************************************************************
# update the Docker restore config

- name: make config.sh
  template:
    src: config.sh.j2
    dest: '{{ docker_restore_config_base_dir }}/{{ wiki_dv_name }}/config.sh'
    backup: yes
    owner: root
    group: tape
    mode: 'u=rw,g=r,o='

- name: exists - state file (mediawiki)
  stat:
    path: '{{ docker_restore_config_base_dir }}/{{ wiki_dv_name }}/restore.date.txt'
    get_checksum: False
    get_md5: False
  register: st_mediawiki_restore

- name: exists - state file (mysql)
  stat:
    path: '{{ docker_restore_config_base_dir }}/{{ wiki_db_dv_name }}/restore.date.txt'
    get_checksum: False
    get_md5: False
  register: st_mediawiki_db_restore

# *****************************************************************************
# Update or make the image.

- name: Checkout image repo
  git:
    repo: '{{ wiki_image_repo }}'
    version: master
    dest: '{{ docker_projects_dir }}/docker-mediawiki'

- name: copy script
  command: 'cp --verbose --update --backup=numbered {{ docker_projects_dir }}/docker-mediawiki/mediawiki.sh {{ docker_restore_config_base_dir }}/{{ wiki_dv_name }}'

- name: build image
  docker_image:
    name: '{{ wiki_image_name }}'
    tag: '{{ docker_image_tag }}'
    path: '{{ docker_projects_dir }}/docker-mediawiki'

# *****************************************************************************
# Create the data volumes

- name: data-volume container (mediwiki)
  docker_volume:
    name: '{{ wiki_dv_name }}'

- name: data-volume container (mysql)
  docker_volume:
    name: '{{ wiki_db_dv_name }}'

# - name: initial populate (mysql)
#   docker_db_init:
#     image_name: '{{ wiki_db_image_name }}'
#     image_tag: '{{ wiki_db_image_tag }}'
#     container_name: '{{ wiki_db_dv_name }}_init_db'
#     data_volume_container_name: '{{ wiki_db_dv_name }}'
#     database_name: wikidb
#     database_user: '{{ wiki_db_user }}'
#     database_password: '{{ wiki_db_password | quote }}'
#     database_root_password: '{{ wiki_db_root_password | quote }}'

- name: initialize mysql container
  when: st_mediawiki_db_restore.stat.exists == False
  block:
  - name: Start initialization of empty volume
    docker_container:
      name: '{{ wiki_db_dv_name}}_init_db'
      image: '{{ wiki_db_image_name }}:{{ wiki_db_image_tag }}'
      volumes:
        - '{{ wiki_db_dv_name }}:/var/lib/mysql:z'
      env:
        MYSQL_DATABASE: 'wikidb'
        MYSQL_ROOT_PASSWORD: '{{ wiki_db_root_password }}'
        MYSQL_USER: '{{ wiki_db_user }}'
        MYSQL_PASSWORD: '{{ wiki_db_password }}'
  - name: wait for initialization to complete
    shell: >
        printf 'SHOW GLOBAL STATUS\n' | docker exec -i 
        {{ wiki_db_dv_name}}_init_db 
        mysql --host=localhost --user={{ wiki_db_user | quote }}
        --password={{ wiki_db_password | quote }} wikidb
    register: container_status
    retries: 20
    delay: 3
    until: "container_status.rc == 0"
  - name: remove initialization container
  docker_container:
      name: '{{ wiki_db_dv_name}}_init_db'
    state: stopped
  - name: State file
    shell: 'date --rfc-3339=seconds > {{ docker_restore_config_base_dir }}/{{ wiki_db_dv_name }}/restore.date.txt'

# *****************************************************************************
# Start the data container running

- name: start container (mysql)
  docker_container:
    name: '{{ wiki_db_container_name }}'
    detach: true
    restart_policy: always
    volumes:
      - '{{ wiki_db_dv_name }}:/var/lib/mysql:z'
    image: '{{ wiki_db_image_name }}:{{ wiki_db_image_tag }}'
    networks:
      - name: '{{ docker_network_frontend }}'

- name: start container (mediwiki)
  docker_container:
    name: '{{ wiki_container_name }}'
    detach: true
    restart_policy: always
    hostname: '{{ wiki_network.hostname }}'
    ports: '{{ wiki_network.port_args }}'
    networks:
      - name: '{{ docker_network_frontend }}'
    volumes: 
      - '{{ openssl_dv_name }}:/etc/ssl/private:z'
      - '{{ wiki_dv_name }}/var/www/html:z'
    env:
      WIKI_HOSTNAME: '{{ container_addr_map.wiki.hostname }}'
      WIKI_MAIL_USER: 'wiki'
      WIKI_MAIL_PASSWORD: '{{ wiki_email_password | quote }}'
    image: '{{ wiki_image_name }}:{{ docker_image_tag }}'

# *****************************************************************************
# restore?

- include_tasks: restore.yml
  when: st_mediawiki_restore.stat.exists == False
