---

- name: Install/Setup Docker images and containers on Daedalus
  hosts: daedalus
  become: true
  become_user: root
  become_method: sudo
  tags:
    - buildbot
    - buildbot-master
  tasks:
  - name: Scan Gitlab ssh keys
    command: ssh-keyscan {{gitlab_hostname}}
    register: gitlab_keys
  - name: Build and start the Buildbot master container
    import_role: 
      name: buildbot-master
    vars:
      known_hosts: "{{gitlab_keys.stdout}}"
  - name: Add buildbot user to Gitlab
    import_role: 
      name: gitlab-user
    vars:
      new_user: buildbot
      new_user_name: Build Robot
      new_user_email: buildbot@novatech-llc.com
      new_user_pass: "{{ lookup('password', '/dev/null') }}"

- name: Setup Buildbot worker system
  hosts: builder
  become: true
  become_user: root
  become_method: sudo
  tags:
    - buildbot
    - buildbot-worker
  vars:
    asset_host: "{{ hostvars['buildbot-worker-assets'].uri }}"
    pypi_host: "{{ hostvars['buildbot-worker-devpi'].uri }}"
    buildbot_master: "{{ hostvars['buildbot-master'].ip_addr }}"
    container_networks:
      - name: "{{ worker_backend_network }}"
        links:
          - buildbot-worker-assets:assets
          - buildbot-worker-devpi:pypi
          - buildbot-worker-ptxdist:ptxdist
    known_hosts: "{{gitlab_keys.stdout}}"
  tasks:
  - name: Scan Gitlab ssh keys
    command: ssh-keyscan {{gitlab_hostname}}
    register: gitlab_keys
  - import_role: 
      name: buildbot-worker-assets
  - import_role: 
      name: buildbot-worker-devpi
  - import_role: 
      name: buildbot-worker-ptxdist

- name: Gitlab public keys for buildbot containers
  hosts: daedalus
  become: true
  become_user: root
  become_method: sudo
  tags:
    - buildbot
  roles:
  - name: Add buildbot_master pubkey to buildbot user
    role: gitlab-sshkey
    vars:
      username: buildbot
      pubkey: "{{ hostvars['buildbot-master'].pubkey }}"
      title: "buildbot_master"
  - name: Add buildbot_worker_ptxdist pubkey to buildbot user
    role: gitlab-sshkey
    vars:
      username: buildbot
      pubkey: "{{ hostvars['buildbot-worker-ptxdist'].pubkey }}"
      title: "buildbot_worker_ptxdist"
