---

- name: Install/Setup Docker images and containers on Daedalus
  hosts: daedalus
  become: true
  become_user: root
  become_method: sudo
  tags:
    - buildbot
    - buildbot-master
  tasks:
  - name: Scan Gitlab ssh keys
    command: ssh-keyscan {{gitlab_hostname}}
    register: gitlab_keys
  - name: Build and start the Buildbot master container
    import_role: 
      name: buildbot-master
    vars:
      known_hosts: "{{gitlab_keys.stdout}}"
  - name: Add buildbot user to Gitlab
    import_role: 
      name: gitlab-user
    vars:
      new_user: buildbot
      new_user_name: Build Robot
      new_user_email: buildbot@novatech-llc.com
      new_user_pass: "{{ lookup('password', '/dev/null') }}"

- name: Setup Buildbot worker system
  hosts: builder
  become: true
  become_user: root
  become_method: sudo
  tags:
  - buildbot
  - buildbot-worker
  vars:
    buildbot_master: "{{ hostvars.buildbot_master.ip_addr }}"
    known_hosts: "{{gitlab_keys.stdout}}"
  pre_tasks:
  - name: Scan Gitlab ssh keys
    command: ssh-keyscan {{gitlab_hostname}}
    register: gitlab_keys
  roles:
  - role: buildbot-worker-ntel

- name: Gitlab public keys for buildbot containers
  hosts: daedalus
  become: true
  become_user: root
  become_method: sudo
  tags:
    - buildbot
  roles:
  - name: Add buildbot_master pubkey to buildbot user
    role: gitlab-sshkey
    vars:
      username: buildbot
      pubkey: "{{ hostvars['buildbot-master'].pubkey }}"
      title: "buildbot_master"
  - name: Add buildbot_worker_ntel pubkey to buildbot user
    role: gitlab-sshkey
    vars:
      username: buildbot
      pubkey: "{{ hostvars.buildbot_worker_ntel.pubkey }}"
      title: "buildbot_worker_ntel"
