---

- name: Install/Setup Docker images and containers on Daedalus
  hosts: daedalus
  become: true
  become_user: root
  become_method: sudo
  tags:
  - buildbot
  pre_tasks:
  - name: Scan Gitlab ssh keys
    command: ssh-keyscan {{git_hostname}}
    register: gitlab_keys
  roles:
  - name: Build and start the Buildbot master container
    role: buildbot-master
    tags:
    - buildbot-master
    vars:
      known_hosts: "{{gitlab_keys.stdout}}"
  - name: Add buildbot user to Gitlab
    role: gitlab-user
    vars:
      new_user: buildbot
      new_user_name: Build Robot
      new_user_email: buildbot@novatech-llc.com
      new_user_pass: "{{ lookup('password', '/dev/null') }}"

- name: Gitlab public keys for buildbot containers
  hosts: daedalus
  become: true
  become_user: root
  become_method: sudo
  tags:
  - buildbot
  roles:
  - name: Add buildbot_master pubkey to buildbot user
    role: gitlab-sshkey
    vars:
      username: buildbot
      pubkey: "{{ hostvars.buildbot_master.pubkey }}"
      title: "buildbot_master"
